<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lixiaoxin.mapper.BooksMapper">

    <resultMap id="BaseResultMap" type="com.lixiaoxin.enity.Books">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="types" column="types" jdbcType="VARCHAR"/>
            <result property="shelf" column="shelf" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="hasnum" column="hasnum" jdbcType="INTEGER"/>
            <result property="borrow" column="borrow" jdbcType="INTEGER"/>
            <result property="isbn" column="isbn" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,types,
        shelf,author,hasnum,
        borrow,isbn
    </sql>
</mapper>
